body {
    background-color: #050210;
}
#circle {
    background-color: #050210;
    width: 500px;
    height: 500px;
    position: relative;
    margin: 100px auto;
}
#gradientcircle {
    height: 420px;
    width: 420px;
    border-radius: 50%;
    background: linear-gradient(to right, #fb5dad, #55fb9f, #b97aff);
    position: absolute;
    animation: spin 1s linear infinite;
}
#gradientcircle::before {
    content: "";
    height: 420px;
    width: 420px;
    border-radius: 50%;
    background: linear-gradient(to right, #fb5dad, #55fb9f, #b97aff);
    position: absolute;
    filter: blur(66px);
}
#pulsatingcircle {
    height: 360px;
    width: 360px;
    border-radius: 50%;
    background-color: #050210;
    position: absolute;
    top: 29px;
    left: 29px;
    z-index: 1;
}
#pulsatingcircle::after {
    content: "";
    height: 360px;
    width: 360px;
    border-radius: 50%;
    background-color: #120c2c;
    position: absolute;
    z-index: 2;
    animation: pulse 1s ease-in-out infinite;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes pulse {
    0% {
        transform: scale(0, 0);
    }
    100% {
        transform: scale(1, 1);
    }
}
